                .images {
                    border-radius: 20px;
                    border-color: black;
                }
                
                .box {
                    background-color: aquamarine;
                }
                
                .text {
                    background-color: blueviolet;
                }